<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <nav class="navbar">
            <div class="navbar-title">
                <h1 class="display-5">Auto Workshop Web Services</h1>
            </div>

            <div class="navbar-content">
                <ul class="nav-list">
                    <li><a href="@Url.Action("Inicio", "Mecanico")">Inicio</a></li>
                    <li><a href="@Url.Action("GestionarReparaciones", "Mecanico")">Gestionar Reparaciones</a></li>
                </ul>
            </div>

            <div class="user-profile">
                <i class="fas fa-user-circle"></i>
                @if (Session["Nombre"] != null)
                {
                    @Session["Nombre"].ToString()
                }
                else
                {
                    <text>Invitado</text>
                }
                <div class="dropdown">
                    <i class="fas fa-caret-down dropdown-toggle"></i>
                    <div class="dropdown-menu">
                        <a href="@Url.Action("Login", "Login")" class="logout-button">
                            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>

    <div class="container-fluid text-center mt-5 fixed-bottom" style="background-color: #D0D1D5; padding-top: 1rem; padding-bottom: 1rem;">
        <div class="container">
            <footer>AWWS</footer>
        </div>
    </div>

    @RenderBody()


</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dropdownToggle = document.querySelector('.dropdown-toggle');
        const dropdownMenu = document.querySelector('.dropdown-menu');

        dropdownToggle.addEventListener('click', function () {
            dropdownMenu.classList.toggle('show');
        });

        // Cerrar el menú si se hace clic fuera de él
        document.addEventListener('click', function (event) {
            if (!dropdownToggle.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.remove('show');
            }
        });
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: grid;
        min-height: 100vh;
    }

    .navbar {
        background-color: #4B4B4B;
        overflow: hidden;
        position: relative;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-title {
        display: flex;
        align-items: center;
        color: white;
    }

    .display-5 {
        font-size: 25px;
        font-weight: bold;
        margin: 0;
    }

    .navbar-content {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center; /* Centra horizontalmente los elementos dentro de este contenedor */
    }

    .nav-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }

        .nav-list li {
            margin: 0;
            padding: 0;
        }

            .nav-list li a {
                display: block;
                color: black;
                text-align: center;
                padding: 8px 20px;
                text-decoration: none;
                transition: 0.3s ease;
                background-color: #FA6C17;
                margin-left: 25px;
                border-radius: 10px;
            }

                .nav-list li a:hover {
                    background-color: #575757;
                }


    .navbar-toggle {
        display: none;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 20px;
    }

        .navbar-toggle .bar {
            height: 3px;
            width: 100%;
            background-color: white;
            border-radius: 10px;
        }

    @@media screen and (max-width: 768px) {
        .navbar-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .nav-list {
            display: none;
            flex-direction: column;
            width: 100%;
            background-color: #333;
        }

            .nav-list.active {
                display: flex;
            }

            .nav-list li {
                text-align: center;
                width: 100%;
                padding: 10px 0;
            }

        /*.navbar-toggle {
            display: flex;
        }*/

        .navbar-title {
            position: static;
            margin: 0;
            justify-content: center;
            width: 100%;
        }
    }

    .user-profile {
        position: relative;
        display: flex;
        align-items: center;
        color: white;
        font-size: 18px;
        margin-right: 15px;
    }

        .user-profile i {
            margin-right: 8px;
            font-size: 24px; /* Tamaño del ícono */
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-toggle {
        cursor: pointer;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%; /* Coloca el menú justo debajo del ícono */
        right: 0;
        background-color: #4B4B4B;
        border-radius: 5px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        min-width: 160px;
        z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
        padding: 10px 0;
    }

        .dropdown-menu a {
            color: white;
            padding: 8px 16px;
            text-decoration: none;
            display: block;
            transition: background-color 0.3s;
        }

            .dropdown-menu a:hover {
                background-color: #575757;
            }

    /* Mostrar el menú desplegable al hacer clic */
    .dropdown.show .dropdown-menu {
        display: block;
    }
</style>